[submodule "tiedangh.github.io"]
	path = tiedan
	url = https://github.com/tiedanGH/tiedangh.github.io.git
	branch = main
[submodule "yagame"]
	path = yagame
	url = https://github.com/imalydimalyd/yagame.git
	branch = main
